# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs
client-MicrosoftVS
/vfs/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-8c73a6c7e072e896c9f3.json
/vfs/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-ff259f68508006d6081a.json
/vfs/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-0382688de07ba7442388.json
/vfs/out/build/x64-Debug/.cmake/api/v1/reply/index-2020-03-12T16-44-50-0312.json
/vfs/out/build/x64-Debug/.cmake/api/v1/reply/target-vfs-Debug-a37f71170b3edfe2d624.json
/vfs/out/build/x64-Debug/.ninja_deps
/vfs/out/build/x64-Debug/.ninja_log
/vfs/out/build/x64-Debug/CMakeCache.txt
/vfs/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeCCompiler.cmake
/vfs/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeCXXCompiler.cmake
/vfs/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeDetermineCompilerABI_C.bin
/vfs/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/vfs/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeRCCompiler.cmake
/vfs/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeSystem.cmake
/vfs/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/vfs/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/vfs/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/vfs/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/vfs/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/vfs/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/vfs/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/vfs/out/build/x64-Debug/CMakeFiles/vfs.dir/embed.manifest
/vfs/out/build/x64-Debug/CMakeFiles/vfs.dir/intermediate.manifest
/vfs/out/build/x64-Debug/CMakeFiles/vfs.dir/manifest.rc
/vfs/out/build/x64-Debug/CMakeFiles/vfs.dir/manifest.res
/vfs/out/build/x64-Debug/CMakeFiles/vfs.dir/vc140.pdb
/vfs/out/build/x64-Debug/Testing/Temporary/LastTest.log
/vfs/out/build/x64-Debug/VSInheritEnvironments.txt
/vfs/out/build/x64-Debug/build.ninja
/vfs/out/build/x64-Debug/cmake_install.cmake
/vfs/out/build/x64-Debug/rules.ninja
/vfs/out/build/x64-Debug/vfs.ilk
/vfs/out/build/x64-Debug/vfs.pdb
